{# {% extends 'base_non_connecte.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="card mt-5 shadow-lg  text-center" style="width: 18rem;">
                <img src="{{asset('images/connect.png')}}" class="card-img-top mt-2" alt="connexion">
                <div class="card-body">
                    <a href="{{ path('connect_google_start')}}"><button class="btn btn-outline-dark btn-lg mb-1">Se connecter avec <i class="fab fa-google"></i></button>
                </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %} #}
