{% extends 'base.html.twig' %}

{% block title %}Nouveau devis{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('gestion')}}">Gestion</a></li>
            <li class="breadcrumb-item"><a href="{{ path('devis_index')}}">Liste des devis</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajout </li>
        </ol>
</nav>
    <h1> Nouveau devis</h1>

    {{ include('devis/_form.html.twig') }}

    <a href="{{ path('devis_index') }}">Retour</a>
{% endblock %}
