{% extends 'base.html.twig' %}

{% block title %}New Conventions{% endblock %}

{% block body %}
    <h1>Créer une nouvelle convention</h1>

    {{ include('conventions/_form.html.twig') }}

    <a href="{{ path('conventions_index') }}">Retour</a>
{% endblock %}
