{% extends 'base.html.twig' %}

{% block title %}New Conventions{% endblock %}

{% block body %}
    <h1>Créer une nouvelle convention</h1>

    {{ include('conventions/_form.html.twig') }}

    <a href="{{ path('conventions_index') }}">Retour</a>
{% endblock %}
{# TODO 
Création d'un form => conventionParticipantsType pour ajouter les participants en même temps que la création de la convention (fctionne pas!) #}