{% extends 'base.html.twig' %}

{% block title %}Nouvelles formations{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('formation')}}">Formation</a></li>
            <li class="breadcrumb-item"><a href="{{ path('formations_index')}}">Liste complète</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajout</li>
        </ol>
    </nav>
    <h1>Ajouter une formation</h1>

    {{ include('formations/_form.html.twig') }}

    <a href="{{ path('formations_index') }}">Retour</a>
{% endblock %}
