{% extends 'base.html.twig' %}

{% block title %}New Formateurs{% endblock %}

{% block body %}
    <h1>Ajouter un formateur</h1>

    {{ include('formateurs/_form.html.twig') }}

    <a href="{{ path('formateurs_index') }}">Retour</a>
{% endblock %}
