{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb m-5">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card text-center col-10">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Prospect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_entreprise')}}">Entreprise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_client')}}">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_opco')}}">OPCO</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Derniers prospects</h5>
                    {#TODO afficher les 10 derniers prospects #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Entreprise</th>
                            <th scope="col">Nom Contact</th>
                            <th scope="col">Demande</th>
                            <th scope="col">Date</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Voir</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><i class="fas fa-eye"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn btn-primary">Liste complète</a>
                </div>
            </div>
    </div>

{% endblock %}
