{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active mt-2" aria-current="page">Contact</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card text-center col-10">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact')}}">Prospect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_entreprise')}}">Entreprise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('contact_client')}}">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">OPCO</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Derniers OPCO </h5>
                    {#TODO afficher les 10 derniers OPCO #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Nom de la société</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Site</th>
                            <th scope="col">Voir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><i class="fas fa-eye"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn btn-primary">Liste complète des OPCO</a>
                </div>
            </div>
    </div>

{% endblock %}
