{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb m-5">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active" aria-current="page">Gestion</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card text-center col-10">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('gestion')}}">Devis</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link active" aria-current="true" href="{{ path('gestion_convention')}}">Conventions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('gestion_facture')}}">Factures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('gestion_reglement')}}">Règlements</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Dernieres conventions</h5>
                    {#TODO afficher les 10 derniers prospects #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Numéro</th>
                            <th scope="col">Client</th>
                            <th scope="col">Formation</th>
                            <th scope="col">Niveau</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Durée</th>
                            <th scope="col">Participants</th>
                            <th scope="col">Voir</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><i class="fas fa-eye"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn btn-primary">Liste complète</a>
                </div>
            </div>
    </div>

{% endblock %}
